<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dizbox.mapper.CardPaymentMapper">

	<insert id="insertCardPayment">
		insert into card_payment (uid,job_cls,card_info,inst_plan,pay_amt,vat,state,data_cls,ref_uid,comment,pdate,ptime)
		values (#{uid},#{jobCls},#{cardInfo},#{instPlan},#{payAmt},#{vat},#{state},#{dataCls},#{refUid},#{comment},#{pdate},#{ptime})
	</insert>
	
	<update id="updateCardPayment">
		update card_payment set state = #{state}
		                       ,comment = #{comment}
		where uid = #{uid}
	</update>
	
	
	<insert id="insertPayTxt">
		insert into card_pay_txt (pay_txt) values (#{payTxt})
	</insert>	
	
	<select id="readCardPayment" resultType="kr.dizbox.domain.CardPaymentVO">
		select *
		  from card_payment 
		 where uid = #{uid}
	</select>
	
	<select id="readCancelCardPayment" resultType="kr.dizbox.domain.CardPaymentVO">
		select sum(pay_amt) as pay_amt,sum(vat) as vat
		  from card_payment 
		 where ref_uid = #{uid}
	</select>
	
	<select id="readCardPaymentByCardInfo" resultType="kr.dizbox.domain.CardPaymentVO">
		select *
		  from card_payment 
		 where job_cls = #{jobCls}
		   and card_info = #{cardInfo}
		   and state = #{state}
	</select>
	
</mapper>